@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #d2c7c7;
}
:root{
 --main-color: #fe5b3d;
 --second-color:#ffac38;
 --text-color:#444;
 --gradient:linear-gradient(#fe5b3d,#ffac38);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
   background: var(--main-color);
   border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background: #eeeff1;
    padding: 15px 100px;
}
.logo img{
    width: 40px;
}
.navbar{
    display: flex;
}

.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 20px 30px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar  a::after{
   width:0% ;
    height:3px ;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar  a:hover::after{
    width: 100%;
}

.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 30px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    border-radius: 10px;

}
.container h2{
   font-weight: 600;
   font-family:'Poppins',sans-serif;
   font-size: 30px;
   text-align: center;
   margin-top: 10px;
}
.container .card {
    width: 650px;
    height: auto;
    background-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 2%;
    margin: 14px;
    padding: 5px  ;
}
.container .card h3{
   margin-left: 10px;

}
.container .card .content  {
    margin-bottom: 30px;
    margin-left: 8px;
    margin-top: 10px;
}
.container .card .content h4 {
   padding: 3px;
}
.form-container {
    align-items: center;
    gap: 1rem;
    bottom:2rem ;
    background: #d9d9d9;
    border-radius: 0.5rem;
    width:96%;
    }
    .input-box{
    flex: 1 1 7rem;
    display:flex;
    flex-direction:column ;
    }
    .input-box span{
    font-weight: 500;
    }
    .input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
    }
    .input-box select{
        padding: 7px;
        outline: none;
        border: none;
        background: #eeeff1;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-family:'Poppins',sans-serif;
        }
    .form-container .btn{
    margin-top: 3%;
    width:92%;
    margin-left: 3.5%;
    padding: 7px ;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    }
    .form-container .btn:hover{
    background: var(--main-color);
    }
