body{
    font-family: 'Open Sans', sans-serif;
}
.container-fluid{
    padding-top: 2rem;
    margin-top: 2rem;
    background-color: rgb(243, 201, 111);
    height: 100vh;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
h1{
    margin-top: 2rem;
    padding-top: 1rem;
}
.card{
    margin-left: 10rem;
    margin-right: 10rem;
    height:120vh;
}
.card-body{
    position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn {
    background-color:rgb(236, 128, 4);
    margin-bottom: 3px;
    width: 100px;
    height: 42px;
    border-radius: 8px;
}
.img{
    width:300px;
    height:200px; margin-top:
    20px; margin-left:
    10px; margin-bottom: 20px;
}
.table{
    background-color: rgb(255, 255, 255);

}
.table-center {
        margin: 0 auto;
        text-align:center;
}
.button-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .button-container .btn {
    padding: 5px;
    font-size: 12px; }

  .description-column {
    width: 20px;
  }
  .duration-date {
    width: 10px;
  }


@media only screen and (max-width: 575px) {
    .container-fluid {
        padding-top: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card-body {
        position: relative;
        margin: 0;
        padding: 1rem;
        width: auto;
    }

    .btn,
    .btn-s {
        width: auto;
    }
}
