    @import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

body{
    background-color: #D9D9D9;
}
.container-fluid{
    font-family: 'inika';
    background-color:#D9D9D9;
    height: 120vh;
    width: 100vw;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
.form-floating{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 10px;
    text-align: center;
}
