/* Home */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
 --main-color: #fe5b3d;
 --second-color:#ffac38;
 --text-color:#444;
 --gradient:linear-gradient(#fe5b3d,#ffac38);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
   background: var(--main-color);
   border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background: #eeeff1;
    padding: 15px 100px;
}
.header-btn .sign-in{
    margin-left: 30%;
}

.logo img{
    width: 40px;
}
.navbar{
    display: flex;

}

.navbar li{
    position: relative;


}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.card {
    background-color: #444;
    width: 18rem;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.card img {
    border-radius: 1rem;
    width:  95%;
    height: 250px;
    padding-top: 2%;
}
  .container{
    padding: 2px 16px;
    margin-top: 2px;
    padding-top: 5rem;
    text-align: center;
    display: flex;
  }
  .card  .btn{
    margin-bottom:10%;
    display: flex;
    justify-content:center ;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
  }
.text{
    text-align: center;
    padding-top: 5rem;
    margin-top: 2rem;
    font-size: 24px;
}



