@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

.container-fluid{
    text-align: center;
    padding-top: 5rem;
}
.btn{
    color: black;
    background-color: rgb(236, 128, 4);
    height: 40px;
}
